In [3]:
import pandas as pd
import scipy.io as sio

# demographic

In [4]:
sub_ls=["9001","9002","9003","9004","9005","9006","9007","9008","9010","9011","9013","9016","9018","9021","9022","9027","9028","9030","9031","9033","9036","9037" ,"9038","9039","9040","9041"]

In [5]:
df=pd.read_csv('data/demog_summary.csv')

In [6]:
df[df['subj_id'].apply(lambda x: str(x) in sub_ls)].groupby("sex").count()

,subj_id,audit_score,race,education,age,ders_total,pss_total,intake_pos_sum,intake_neg_sum,ASI30day,...,fmri_PANAS_pos_sum_placebo_postscan,fmri_PANAS_neg_sum_placebo_postscan,behav_PANAS_pos_sum_cort,behav_PANAS_neg_sum_cort,behav_PANAS_pos_sum_placebo,behav_PANAS_neg_sum_placebo,ATT_ml_cortisol,ATT_BAC_cortisol,ATT_ml_placebo,ATT_BAC_placebo
sex,,,,,,,,,,,,,,,,,,,,,
female,11,11,10,11,11,11,11,11,11,11,...,11,11,11,11,11,11,11,11,11,11
male,15,15,14,15,15,15,15,15,15,15,...,13,13,14,14,15,15,14,15,14,15

In [7]:
df[df['subj_id'].apply(lambda x: str(x) in sub_ls)]['age'].mean()

27.615384615384617

In [8]:
df[df['subj_id'].apply(lambda x: str(x) in sub_ls)]['age'].std()

5.564724058401623

# trial used in the model

In [30]:
folder="/Users/yhuan256/Library/CloudStorage/Box-Box/CAMSLab_Projects/Studies/Cort_Mem/Data/dynamicCPM/BP_filtered/5s_onward/analysis_data/";            
pheno_ls=["RecogAcc_coded", "Arous_All"]
stim_ls=["alc", "tool"]
pill_ls=["cortisol", "placebo"]
n_ls=[]
pill_dic=[]
stim_dic=[]
pheno_dic=[]

for pheno in pheno_ls:
    for stim in stim_ls:
        for pill in pill_ls:
            filename=folder+'n26_'+pheno+'_'+pill+'_'+stim+'_trialID_dynamic_connectome.mat'
            data=sio.loadmat(filename);
            n_trials=data['y'].shape[1]
            n_ls.append(n_trials)
            pill_dic.append(pill)
            stim_dic.append(stim)
            pheno_dic.append(pheno)

In [33]:
pd.DataFrame({'Behavior':pheno_dic,'Pill':pill_dic,'Run':stim_dic,'N_trials':n_ls})

         Behavior      Pill   Run  N_trials
0  RecogAcc_coded  cortisol   alc      1016
1  RecogAcc_coded   placebo   alc      1031
2  RecogAcc_coded  cortisol  tool      1034
3  RecogAcc_coded   placebo  tool      1031
4       Arous_All  cortisol   alc      1007
5       Arous_All   placebo   alc      1027
6       Arous_All  cortisol  tool      1001
7       Arous_All   placebo  tool      1023